<h2>Five Repositories</h2>
<div class="TableObject-item TableObject-item--primary pr-4">
    <input type="hidden" name="tab" value="repositories">
    <input type="search" id="your-repos-filter" name="q" class="form-control width-full js-autosearch-field" placeholder="Search repositories…" autocomplete="off" aria-label="Search repositories…" data-hotkey="/" value="">
</div>
<div class="TableObject-item text-right">
    <div class="select-menu js-repo-filter-select-menu d-inline-block js-menu-container js-select-menu select-menu-modal-right">
        <button class="btn select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false">
            <i>Type:</i>
            <span class="js-select-button">
                All
            </span>
        </button>

        <div class="select-menu-modal-holder js-menu-content js-navigation-container">
            <div class="select-menu-modal">
                <div class="select-menu-header text-left">
                    <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
                    <span class="select-menu-title">Select type:</span>
                </div>
                <div class="select-menu-list" role="menu">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="select-menu js-repo-filter-select-menu d-inline-block js-menu-container js-select-menu select-menu-modal-right">
        <button class="btn select-menu-button js-menu-target" type="button" aria-haspopup="true" aria-expanded="false">
            <i>Language:</i>
            <span class="js-select-button">
                All
            </span>
        </button>

        <div class="select-menu-modal-holder js-menu-content js-navigation-container">
            <div class="select-menu-modal">
                <div class="select-menu-header text-left">
                    <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path></svg>
                    <span class="select-menu-title">Select language:</span>
                </div>
                <div class="select-menu-list" role="menu">
                    
                </div>
            </div>
        </div>
    </div>

</div>
<div id="user-repositories-list">
    <div class="js-repo-list" data-filterable-for="your-repos-filter" data-filterable-type="substring">
       
        <li class="col-12 d-block width-full py-4 border-bottom public source" itemprop="owns" itemscope="" itemtype="http://schema.org/Code" ng-repeat="repository in ListOfRepository" ng-if="$index<=4">

            <div class="d-inline-block mb-1">
                <h3>
                    <a href="/#" itemprop="name codeRepository">
                        {{repository.ProjectName}}
                    </a>
                </h3>


            </div>

            <div>
                <p class="col-9 d-inline-block text-gray mb-2 pr-4" itemprop="description">
                    {{repository.Description}}
                </p>

                <div class="col-3 float-right text-right">

                    <span class="d-inline-block tooltipped tooltipped-s" aria-label="Past year of activity">
                        <svg width="155" height="30">
                            <defs>
                                <linearGradient id="gradient-94197859" x1="0" x2="0" y1="1" y2="0">
                                    <stop offset="10%" stop-color="#c6e48b"></stop>
                                    <stop offset="33%" stop-color="#7bc96f"></stop>
                                    <stop offset="66%" stop-color="#239a3b"></stop>
                                    <stop offset="90%" stop-color="#196127"></stop>
                                </linearGradient>
                                <mask id="sparkline-94197859" x="0" y="0" width="155" height="28">
                                    <polyline transform="translate(0, 28) scale(1,-1)" points="0,1.0 3,1.0 6,1.0 9,1.0 12,1.0 15,1.0 18,1.0 21,1.0 24,1.0 27,1.0 30,1.0 33,1.0 36,1.0 39,1.0 42,1.0 45,1.0 48,1.0 51,1.0 54,1.0 57,1.0 60,1.0 63,1.0 66,1.0 69,1.0 72,1.0 75,1.0 78,1.0 81,1.0 84,1.0 87,1.0 90,1.0 93,1.0 96,1.0 99,1.0 102,1.0 105,1.0 108,1.0 111,1.0 114,1.0 117,1.0 120,1.0 123,1.0 126,1.0 129,1.0 132,1.0 135,1.0 138,1.0 141,1.0 144,1.0 147,1.0 150,1.0 153,4.0 " fill="transparent" stroke="#8cc665" stroke-width="2">
                                    </polyline>
                                </mask>
                            </defs>

                            <g transform="translate(0, -10.5)">
                                <rect x="0" y="-2" width="155" height="30" style="stroke: none; fill: url(#gradient-94197859); mask: url(#sparkline-94197859)"></rect>
                            </g>
                        </svg>
                    </span>

                </div>
            </div>


            <div class="f6 text-gray mt-2">

                <span class="repo-language-color ml-0" style="background-color:#f1e05a;"></span>
                <span class="mr-3" itemprop="programmingLanguage">
                    {{repository.ProgLangName}}
                </span>
                <a class="muted-link mr-3" href="#">
                    <svg aria-label="star" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14">
                        <path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path>
                    </svg>
                    2
                </a>
                Updated <relative-time datetime="2017-06-13T09:56:59Z" title="Jun 13, 2017, 10:56 AM GMT+1">{{repository.UploadDate}}</relative-time>
            </div>
        </li>
    </div>
</div>